<mat-toolbar color="primary">
  <span>Upscaling App</span>
</mat-toolbar>

<app-image-upscaler-selection
  (upscaler)="onUpscalerSelected($event)"
  (image)="onFileSelected($event)"
/>

<div *ngIf="imagePreviewUrl" class="div-title-image">
  <h3>Preview:</h3>
  <img [src]="imagePreviewUrl" alt="selected image preview" />
</div>

<div *ngIf="imagePreviewUrl && !upscaledImageUrl" class="div-title-image">
  <h3>Wait for upscaled image, upscaling in progress</h3>
</div>

<div *ngIf="upscaledImageUrl" class="div-title-image">
  <h3>Upscaled image preview:</h3>
  <img [src]="upscaledImageUrl" alt="upscaled image preview" />
</div>
