<div class="div-upscaling-image-selection">
  <app-image-upscaler-selection (upscaler)="onUpscalerSelected($event)" />
  <app-image-select-button (image)="onFileSelected($event)" />
  <app-image-download-button [upscaledImageUrl]="upscaledImageUrl()" />
</div>

@if(errorMessage()){
<h3>{{ errorMessage() }}</h3>
<p>Server likely couldn't process image before timeout. Happens with verry large images</p>
} @if (imagePreviewUrl()) {
<div class="div-title-image">
  <h3>Preview:</h3>
  <img [src]="imagePreviewUrl()" alt="selected image preview" />
</div>
} @if (imagePreviewUrl() && !upscaledImageUrl()) {
<div class="div-title-image">
  <h3>Wait for upscaled image, upscaling in progress</h3>
</div>
} @if (upscaledImageUrl()) {
<div class="div-title-image">
  <h3>Upscaled image preview:</h3>
  <img [src]="upscaledImageUrl()" alt="upscaled image preview" />
</div>
}
